{% extends 'admin/base.html' %}

{% block title %}Users List - Admin Dashboard{% endblock %}

{% block page_content %}
<table>
    <caption>Users</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td data-label="ID">{{ user.id }}</td>
        <td data-label="Fullname">{{ user.fullname or '-' }}</td>
        <td data-label="Email">{{ user.email }}</td>
        <td data-label="Role">{{ 'Admin' if user.role else 'User' }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}